rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }
    function isSelf(uid) {
      return request.auth != null && request.auth.uid == uid;
    }
    function allowedProfileFields() {
      return ['displayName', 'newsletterOptIn', 'photoURL', 'email', 'createdAt', 'updatedAt', "organizationEmail", "organizationEmailUpdateCount", "uid"];
    }

    match /profiles/{uid} {
      allow read: if true;

      allow create: if isAdmin() ||
        (isSelf(uid) && request.resource.data.keys().hasOnly(allowedProfileFields()));

      allow update: if isAdmin() ||
        (isSelf(uid) &&
         request.resource.data.diff(resource.data).affectedKeys().hasOnly(allowedProfileFields()));
      
      allow delete: if isAdmin()

      // Block user writes to subcollections like transactions/subscriptions
      match /{sub=**} {
        allow read: if isSelf(uid) || isAdmin();
        allow write: if isAdmin();
        allow update: if isAdmin();
        allow delete: if isAdmin();
      }
    }

    match /coupons/{accountType} {
      allow get: if isAdmin();
      allow write: if isAdmin();
    }
  }
}
